.Tilt {
	box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
	width: 200px;
	margin: 0 auto;
	background: #ef32d9; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#89fffd,
		#ef32d9
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#89fffd,
		#ef32d9
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
